In [30]:
import pandas

data = pandas.read_csv('titanic.csv', index_col='PassengerId')
print(data['Sex'].value_counts())

# 577 314

male      577
female    314
Name: Sex, dtype: int64

In [31]:
print(data["Survived"])

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [45]:
die, survi = data['Survived'].value_counts()
print(die, survi)
total = 891

# 891 - 100%
# 549 - x
print(round((die * 100 / total), 2))
print(round((survi * 100 / total), 2))

549 342
61.62
38.38

In [78]:
data['Pclass'].value_counts()
first = 216
print(round((first * 100 / total), 2))

24.24

In [89]:
# 4
average_age = round(data['Age'].mean(), 2)
median_age = data['Age'].median()
print(average_age, median_age)

29.7 28.0

In [100]:
# 5
round(data["SibSp"].corr(data["Parch"]), 2)

#data[['SibSp', 'Parch']].corr()

0.41

In [224]:
# 6
import re
first_name_r = r"\(([a-zA-z]+)"
brackets_re = r"\((.*?)\)"
first_names = []
i = 0
female_names = data["Name"][data['Sex'] == "female"]
for name in female_names:
    result = re.search(brackets_re, name)
    if result and "Miss" not in name and "Mlle" not in name:
        name = result.group(1).split(" ")
        first_names.append(name[0])
    else:
        name = name.split(". ")[1]
        first_names.append(name.split(" ")[0])


from collections import Counter
a = Counter(first_names).most_common()

print(a)

{'Anna': 15, 'Mary': 14, 'Elizabeth': 11, 'Margaret': 10, 'Alice': 6, 'Bertha': 5, 'Maria': 5, 'Helen': 5, 'Florence': 4, 'Ellen': 4, 'Marie': 4, 'Augusta': 4, 'Emily': 4, 'Ada': 4, 'Annie': 4, 'Catherine': 4, 'Elisabeth': 3, 'Lillian': 3, 'Edith': 3, 'Katherine': 3, 'Madeleine': 3, 'Amelia': 3, 'Hanora': 3, 'Kate': 3, 'Marion': 3, 'Ida': 3, 'Jane': 3, 'Lily': 2, 'Adele': 2, 'Johanna': 2, 'Dorothy': 2, 'Bridget': 2, 'Constance': 2, 'Mabel': 2, 'Susan': 2, 'Mathilde': 2, 'Rosa': 2, 'Marjorie': 2, 'Helene': 2, 'Agnes': 2, 'Clara': 2, 'Elsie': 2, 'Rosalie': 2, 'Jessie': 2, 'Marija': 2, 'Lucile': 2, 'Hedwig': 2, 'Lucy': 2, 'Ethel': 2, 'Emma': 2, 'Charlotte': 2, 'Martha': 2, 'Amy': 2, 'Laina': 1, 'Marguerite': 1, 'Hulda': 1, 'Emelia': 1, 'Fatima': 1, 'Torborg': 1, 'Selma': 1, 'Jamila': 1, 'Simonne': 1, 'Josefine': 1, 'Myna': 1, 'Amelie': 1, 'Erna': 1, 'Brigdet': 1, 'Matilda': 1, 'Hileni': 1, 'Katriina': 1, 'Malake': 1, 'Ellis': 1, 'Grace': 1, 'Sultana': 1, 'Elin': 1, 'Robina': 1, 'Eleanor': 1, 'Ann': 1, 'Luise': 1, 'Carla': 1, 'Elise': 1, 'Henriette': 1, 'Telma': 1, 'Clear': 1, 'Eliina': 1, 'Albina': 1, 'Irene': 1, 'Thamine': 1, 'Agda': 1, 'Elna': 1, 'Helena': 1, 'Hanne': 1, 'Gertrude': 1, 'Gladys': 1, 'Lutie': 1, 'Delia': 1, 'Kornelia': 1, 'Aloisia': 1, 'Nora': 1, 'Laura': 1, 'Helmina': 1, 'Miriam': 1, 'Margaretta': 1, 'Hilda': 1, 'Sylvia': 1, 'Jean': 1, 'Mantoura': 1, 'Leontine': 1, 'Stina': 1, 'Leila': 1, 'Aurora': 1, 'Elina': 1, 'Mari': 1, 'Daisy': 1, 'Lulu': 1, 'Lyyli': 1, 'Catharina': 1, 'Doolina': 1, 'Esther': 1, 'Encarnacion': 1, 'Hildur': 1, 'Jeannie': 1, 'Bessie': 1, 'Kristina': 1, 'Roberta': 1, 'Anne': 1, 'Phyllis': 1, 'Eva': 1, 'Harriet': 1, 'Ingeborg': 1, 'Sigrid': 1, 'Velin': 1, 'Lucille': 1, 'Tillie': 1, '(Marion': 1, 'Alma': 1, 'Julie': 1, 'Marian': 1, 'Ruth': 1, 'Juliette': 1, 'Alfrida': 1, 'Cordelia': 1, 'Gretchen': 1, 'Margit': 1, 'Eugenie': 1, 'Juliet': 1, 'Katie': 1, 'Georgette': 1, 'Manca': 1, 'Saiide': 1, 'Berthe': 1, 'Caroline': 1, 'Edwina': 1, 'Margareth': 1, 'Pieta': 1, 'Joan': 1, 'Eliza': 1, 'Virginia': 1, 'Banoura': 1, 'Vera': 1, 'Stella': 1, 'Farnham': 1, 'Mara': 1, 'Ebba': 1, 'Wendla': 1, 'Beila': 1, 'Selini': 1, 'Sara': 1, 'Edwiga': 1, 'Nourelain': 1, 'Lilian': 1, 'Leah': 1, 'Latifa': 1, 'Karolina': 1, 'Asuncion': 1, 'Sallie': 1, 'Hannah': 1, 'Imanita': 1, 'Gerda': 1}